language: csharp
dotnet: 2.2
mono: none
dist: xenial

env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
    - DOTNET_CLI_TELEMETRY_OPTOUT=1

addons:
  sonarcloud:
    organization: "ajwgroup"
    token:
      secure: $SONARCLOUD_TOKEN

cache:
  directories:
    - '$HOME/.sonar/cache'

script:
  - echo intalling docfx
  - dotnet tool install -g docfx --version 3.0.0-alpha-HEAD-00556-a1cfa8ee5 --add-source https://www.myget.org/F/docfx-v3/api/v2
  - dotnet build ${PROJECT_NAME}.sln -c Release
  - dotnet test -c Release --no-build ${PROJECT_NAME}Tests/${PROJECT_NAME}Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
  - docfx ${PROJECT_NAME}/docfx.json
after_success:
  - echo dotnet test succeeded, uploading code coverage
  - bash <(curl -s https://codecov.io/bash)
  - echo generate code quality
  - sed -i -e "s/PROJECT_NAME/${PROJECT_NAME}/g" sonar-project.properties
  - sonar-scanner
after_failure:
  - echo There has been an issue with build/test

deploy:
  - provider: script
    script: echo uncomment line in .travis.yml to deploy
    # - chmod +x ./deploy/deploy.sh && ./deploy/deploy.sh $NUGET_API_KEY
    skip_cleanup: true
    on:
      branch: master
  - provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
    keep-history: true
    local-dir: ${PROJECT_NAME}/_site
    on:
      branch: master